.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.hero-title {
  margin-top: 50px;
  align-self:flex-end;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.condor {
  color: #4fc0d4;
}

.hero-card {
  margin-bottom: 50px;
}

.hero-card-text {
  margin: 0;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

@media (min-width: 900px) {

  .hero-title {
    margin-top: 20px;
    font-size: 4rem;
  }

  .hero-card-text {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {

  .hero-title {
    margin-top: 120px;
  }

}