header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 79px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.hamburger-menu__container {
  padding: 0 !important;
  align-self: center;
  justify-self: center;
}

.hamburger-menu {
  color: white;
  cursor: pointer;
}

span.MuiLinearProgress-bar {
  background-color: #4fc0d4;
}

span.MuiLinearProgress-root {
  background-color: #4A6F7F;
}

.header-button {
  color: #e6e6e6;
  cursor: pointer;
}